@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


body{
    font-family: 'Itim', cursive;
    background-image: url("mascota/fondo.png");
    background-size: cover; 
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo {
    color: rgb(16, 57, 140);
    font-size:80px;
}
.subtitulo {
    color: royalblue;
    font-size: 30px;
}
.tarjetas-mascotas, .tarjetas-ataques{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    box-sizing:border-box;
    margin: 10px 90px 20px 90px;
    gap: 20px  
}
.tarjeta-de-mokepon{
    width: 150px;
    height: 180px;
    background: cadetblue;
    padding: 30px;
    box-sizing:border-box;
    margin: 20px 60px 20px 60px;
    border: 2px dashed rgb(113, 20, 220);
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color:  rgb(199, 229, 255);
    font-size: 20px;

}
.tarjeta-de-mokepon img {
    width: 90px;
}
#boton-mascota{
    width: 120px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px dashed transparent;
    background-image: radial-gradient(circle at 50% -20.71%, #cfa8ff 0, #9d8bff 25%, #6c6cd8 50%, #3f4ea4 75%, #153375 100%);
    font-family: cursive;
    color: rgb(199, 229, 255);

}
input{
    display: none;
}
input:checked + label {
    background-color: darkseagreen;
}
#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botonataque {
    background-image: radial-gradient(circle at 50% -20.71%, #cfa8ff 0, #9d8bff 25%, #6c6cd8 50%, #3f4ea4 75%, #153375 100%);
    padding: 10px;
    box-sizing:border-box;
    border-radius: 20px;
    border: 2px dashed transparent;
    width: 80px;
    color: rgb(199, 229, 255);
    font-family: cursive;
}
#mensaje {
    width: 210px;
    background-image: linear-gradient(180deg, #a6ffff 0, #a2edff 25%, #9dd5f2 50%, #96bed5 75%, #8ea8b9 100%);
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(242, 247, 252);
    font-family: cursive;
    font-size: 20px;
}
#boton-reiniciar{
    width: 150px;
    border: none;
    border-radius: 10px;
    background-image: radial-gradient(circle at 50% -20.71%, #cfa8ff 0, #9d8bff 25%, #6c6cd8 50%, #3f4ea4 75%, #153375 100%);
    color: rgb(199, 229, 255);
    font-family: cursive;
}
.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: rgb(199, 229, 255);
    margin: 0px 60px 20px 10px;
    gap: 100px; 
    
}
#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}
.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    background-image: radial-gradient(circle at 50% -20.71%, #ff9fff 0, #c787ff 25%, #8f6cd8 50%, #5c51a9 75%, #31397e 100%);
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
   
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mapa {
    border: 2px solid white;
}
/* ajuste para ver tanto en computador y celular sin que se corte */
@media (max-width: 360px) {
    .tarjetas .tarjetas-ataques {
      flex-direction: column;
    }
}