@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


body{
    font-family: 'Itim', cursive;
    background-image: url("mascota/fondo.png");
    background-size: cover; 
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo {
    color: rgb(16, 57, 140);
    font-size:80px;
}
.subtitulo {
    color: royalblue;
    font-size: 30px;
}
.tarjetas-mascotas, .tarjetas-ataques{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    box-sizing:border-box;
    margin: 10px 90px 20px 90px;
    gap: 20px  
}
.tarjeta-de-mokepon{
    width: 150px;
    height: 180px;
    background: cadetblue;
    padding: 30px;
    box-sizing:border-box;
    margin: 20px 60px 20px 60px;
    border: 2px dashed rgb(113, 20, 220);
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color:  rgb(199, 229, 255);
    font-size: 20px;

}
.tarjeta-de-mokepon img {
    width: 90px;
}
#boton-mascota{
    width: 120px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px dashed transparent;
    background: rgb(56, 117, 118);
    font-family: cursive;
    color: rgb(199, 229, 255);

}
input{
    display: none;
}
input:checked + label {
    background-color: darkseagreen;
}
#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botonataque {
    background-color: rgb(56, 117, 118);
    padding: 10px;
    box-sizing:border-box;
    border-radius: 20px;
    border: 2px dashed transparent;
    width: 100px;
    color: rgb(199, 229, 255);
    font-family: cursive;
}
#mensaje {
    width: 210px;
    background: cadetblue;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(199, 229, 255);
    font-family: cursive;
    font-size: 20px;
}
#boton-reiniciar{
    border: none;
    color: rgb(62, 65, 251);
    font-family: cursive;
}
.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: rgb(0, 103, 192);
}
#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}
.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ajuste para ver tanto en computador y celular sin que se corte */
@media (max-width: 360px) {
    .tarjetas .tarjetas-ataques {
      flex-direction: column;
    }
}